.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: var(--text-color);
}
.game_nav {
  display: flex;
  justify-content: space-between;
  margin: 3% 3% 0 3%;
}
.game_nav h1 {
  font-size: 2vw;
}

.game_play {
  display: flex;
  margin-left: 3%;
}

.game_play_div {
  display: flex;
  font-size: 3vw;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;

  flex: 1;
}
.game_time {
  display: flex;
  margin: 0;
}
.game_word {
  display: flex;
  /* flex-direction: column; */
}

.game_word h1:nth-child(1) {
  color: #1f8a70;
}

.game_input {
  /* height: 50%; */

  font-size: 4vw;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  border: 1px solid gray;
  /* margin: 0 0 5% 0; */
}


.game_btn {
  display: flex;
  align-items: flex-start;
  width: max-content;
  margin: 0 0 3% 3%;
  border: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 2vw;
}
